.example-small-box, .example-large-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    height: 300px !important;
    width: 300px !important;
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://icon-library.com/images/sorcerer-icon/sorcerer-icon-23.jpg');
    background-size: cover;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .star {
    cursor: pointer;
    color: var(--unCheckedColor);
    font-size: var(--size);
    width: var(--size);
    display: inline-block;
}