<div class="container">
    <mat-tab-group dynamicHeight>
        <mat-tab label="Personagem">
            <div class="example-large-box mat-elevation-z4">
                Personagem
            </div>
        </mat-tab>
        <mat-tab label="Atributos">
            <div class="example-large-box mat-elevation-z4">
                <mat-star-rating [rating]="rating"  [starCount]="starCount" [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></mat-star-rating>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>