<div cla>
    <p>Novo Personagem</p>
</div>
<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Identificação">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input [(ngModel)]="usuario.nome" id="nome" class="form-control" matInput name="nome" ngModel required #nome="ngModel">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Natureza</mat-label>
                    <input [(ngModel)]="personagem.natureza" id="natureza" matInput name="natureza" ngModel required #natureza="ngModel">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Tradição</mat-label>
                    <input [(ngModel)]="personagem.tradicao" id="tradicao" matInput name="tradicao" ngModel required #tradicao="ngModel">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Jogador</mat-label>
                    <input [(ngModel)]="personagem.jogador" id="jogador" matInput name="jogador" ngModel required #jogador="ngModel">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Essência</mat-label>
                    <input [(ngModel)]="personagem.essencia" matInput name="essencia" ngModel required #essencia="ngModel">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Conceito</mat-label>
                    <input [(ngModel)]="personagem.conceito" id="conceito" class="input-separated" matInput name="conceito" ngModel required #conceito="ngModel">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label>Crônica</mat-label>
                    <input [(ngModel)]="personagem.cronica" matInput name="cronica" ngModel required #cronica="ngModel">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Comportamento</mat-label>
                    <input [(ngModel)]="personagem.comportamento" id="comportamento" matInput name="comportamento" ngModel required #comportamento="ngModel">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Cabala</mat-label>
                    <input [(ngModel)]="personagem.cabala" id="cabala" matInput name="cabala" ngModel required #faccao="ngModel">
                </mat-form-field>
            </div>
            <br>
            <mat-card-actions>
                <button mat-button (click)="onSubmit(f)">Guardar</button>
                <button mat-button>Enviar</button>
            </mat-card-actions>
        </form>
        
    </mat-tab>
    <mat-tab label="Atributos">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Força</mat-label>
                <mat-select matNativeControl [(value)]="selected.value" [(ngModel)]="atributo.forca"  id="forca" name="forca" ngModel required
                #forca="ngModel">
                    <mat-option *ngFor="let f of options" [value]="f.value">
                        {{f.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Carisma</mat-label>
                <mat-select matNativeControl [(value)]="selected" [(ngModel)]="atributo.carisma"  id="carisma" name="carisma" ngModel required
                #carisma="ngModel">
                    <mat-option *ngFor="let f of options" [value]="f.value">
                        {{f.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Percepção</mat-label>
                <mat-select matNativeControl [(ngModel)]="atributo.percepcao"  id="percepcao" name="percepcao" ngModel required
                #percepcao="ngModel">
                    <mat-option *ngFor="let f of options" [value]="f.value">
                        {{f.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Destreza</mat-label>
                <mat-select matNativeControl [(ngModel)]="atributo.destreza"  id="forca" name="destreza" ngModel required
                #forca="ngModel">
                    <mat-option *ngFor="let f of options" [value]="f.value">
                        {{f.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Manipulação</mat-label>
                <mat-select matNativeControl [(ngModel)]="atributo.manipulacao"  id="manipulacao" name="manipulacao" ngModel required
                #manipulacao="ngModel">
                    <mat-option *ngFor="let f of options" [value]="f.value">
                        {{f.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Inteligência</mat-label>
                <mat-select matNativeControl [(ngModel)]="atributo.inteligencia"  id="inteligencia" name="inteligencia" ngModel required
                #inteligencia="ngModel">
                    <mat-option *ngFor="let f of options" [value]="f.value">
                        {{f.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Vigor</mat-label>
                <mat-select matNativeControl [(ngModel)]="atributo.vigor"  id="vigor" name="vigor" ngModel required
                #forca="ngModel">
                    <mat-option *ngFor="let f of options" [value]="f.value">
                        {{f.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Aparência</mat-label>
                <mat-select matNativeControl [(ngModel)]="atributo.aparencia"  id="aparencia" name="aparencia" ngModel required
                #aparencia="ngModel">
                    <mat-option *ngFor="let f of options" [value]="f.value">
                        {{f.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Racioncínio</mat-label>
                <mat-select matNativeControl [(ngModel)]="atributo.raciocinio"  id="raciocinio" name="raciocinio" ngModel required
                #raciocinio="ngModel">
                    <mat-option *ngFor="let f of options" [value]="f.value">
                        {{f.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </mat-tab>
    <mat-tab label="Habilidades">
        <div>
        </div>
    </mat-tab>
    <mat-tab label="Esferas">Content 4</mat-tab>
    <mat-tab label="Vantagens">Content 5</mat-tab>
</mat-tab-group>
<p>Form value: {{ f.value | json }}</p>
<p>Form valid: {{ f.valid }}</p>

<p>Personagem: {{ personagem.jogador }}</p>
<p>Atributos: {{ atributo.forca }}</p>