<div cla>
  <p>Novo Personagem</p>
</div>
<button mat-raised-button (click)="isEditable = !isEditable">
  {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button>
<mat-horizontal-stepper linear #stepper>
  <mat-step [editable]="isEditable">
    <ng-template matStepLabel>Personagem</ng-template>
    <app-personagem-page></app-personagem-page>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [editable]="isEditable">
    <ng-template matStepLabel>Atributos</ng-template>
    <app-atributos-page></app-atributos-page>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>

  </mat-step>
  <mat-step [editable]="isEditable">
    <ng-template matStepLabel>Habilidades</ng-template>
    <app-habilidades-page></app-habilidades-page>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [editable]="isEditable">
    <ng-template matStepLabel>Esferas</ng-template>
    <app-esfera-page></app-esfera-page>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [editable]="isEditable">
    <ng-template matStepLabel>Vantagens</ng-template>
    <app-vantagens-page></app-vantagens-page>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>